# Start the conditional rendering. Only ONE of these blocks will be executed.
{{- if contains "eks" (.Capabilities.KubeVersion.Version | toString) }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: pdvd-sc
provisioner: ebs.csi.aws.com
parameters:
  type: gp3
  fsType: ext4
  encrypted: "true"
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: WaitForFirstConsumer

{{- else if contains "gke" (.Capabilities.KubeVersion.Version | toString) }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: pdvd-sc
provisioner: pd.csi.storage.gke.io
allowVolumeExpansion: true
parameters:
  type: pd-standard
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: WaitForFirstConsumer
{{- end }}